.label {
    font-size: 10vh; 
}
.icon{
    width: 2vw;
    margin-right: 10px;
}
.landing_text{
    display: flex;
    justify-content: center;
}
.landing_button{
    cursor: pointer;
    display: block;
    box-sizing: border-box;
    margin: 20px auto; 
    padding: 8px;
    width: 80%;
    max-width: 200px;
    background: transparent; 
    border-color: white;
    border-radius: 8px;
    color: #fff;
    text-align: center;
    text-decoration: none;
    letter-spacing: 1px;
    transition: all 0.3s ease-out;
}

